/*
 * Colors
 */
/**
 * Typography
 */
/**
 * Spacing
 */
body {
  background: #fff; }

.intro {
  color: #000; }
  .intro__heading, .intro__subheading, .intro__link {
    font-family: "Anton", sans-serif;
    text-transform: uppercase; }
  .intro__heading {
    color: #000;
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 80px; }
  .intro__subheading {
    margin-top: 0;
    line-height: 0.4;
    font-size: 60px;
    color: #ff5353; }
  .intro__text {
    position: relative;
    margin-top: 40px;
    font-size: 40px; }
  .intro__link {
    color: #000;
    position: relative; }
    .intro__link::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 100%;
      z-index: -1;
      background: #000;
      transform-origin: bottom;
      transition: transform .5s ease-out;
      height: 1px; }
    .intro__link:focus {
      color: #ff5353;
      outline: 1px solid #ff5353; }
    .intro__link:hover {
      color: #ff5353; }
      .intro__link:hover::before {
        transform: scaleY(60); }
      .intro__link:hover + .intro__logo path {
        animation-play-state: running;
        stroke-dashoffset: 0; }
    .intro__link:active {
      color: #ff1818; }
  .intro__logo {
    position: absolute;
    width: 64px;
    height: 64px;
    fill: #fff;
    stroke: #000;
    transition: fill .5s 1.5s ease-out; }
    .intro__logo path {
      stroke-width: 0.4px;
      stroke-dasharray: 100;
      transition: stroke-dashoffset 1.5s ease-out; }
    .intro__logo_github {
      stroke-dashoffset: -95; }
    .intro__logo_codepen {
      stroke-dashoffset: -50; }
    .intro__logo_linkedin {
      stroke-dashoffset: -65; }

.quote {
  position: absolute;
  top: 80%;
  right: 10%; }
  .quote__message {
    font: italic 30px 'Pacifico', cursive;
    color: #C5C5C5;
    margin-bottom: 10px; }
    .quote__message p {
      line-height: 1;
      margin-bottom: 0; }
  .quote__author {
    font-size: 20px;
    color: #C5C5C5; }
